.about {
    width: 100%;
   
    background: white;
    padding: 50px;

    display: flex;
    justify-content: space-between;
}
.about p {
    color: black;
    margin: 0;
}
.aboutsection {
    width: 40%;
}
.aboutheader {
    font-size: 48px;
    margin-bottom: 10px !important;
    font-weight: 400;
}
.abouttext {
    font-size: 25px;
    text-align: justify;
    text-indent: 20px;
    font-weight: 300;
}


.abouttext strong {
    font-weight: 600;
}

.aboutlink {
    color: orange;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
.aboutimage {
   width: 380px;
   height: 670px;
}